<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ .Title }} | {{ .Site.Title }}</title>
    <link rel="stylesheet" href="/css/style.css" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fira+Code&display=swap" rel="stylesheet">
</head>

<body>
    <nav>
        {{ partial "menu.html" . }}
        {{ partial "lang.html" . }}
        <!-- {{ partial "terminal.html" . }} -->
    </nav>
    <hr>

    <div class="content">
        {{ block "main" . }}
        {{ end }}
    </div>
</body>

</html>